# Codeblocks folders
.bin/
.obj/

# Object files
*.o
*.gcno

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
wlcmd

# Build folders
bin/*
release_osx/*
release_linux/*
release_windows/*

# Release archive
release_osx.tar.gz
release_linux.tar.gz
release_windows.tar.gz